@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #252525;
}

Body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #ff7b00;
}

/* header and main picture */

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ff7b00;
}

#title-logo {
    float: left;
    font-size: 350%;
    margin-left: 50px;
}

header a {
    text-decoration: none;
}
/* end of header and main picture */

/* Navigation menu */
#menu {
    letter-spacing: 4px;
    font-size: 150%;
    font-weight: 800;
}

#menu,
#title-logo {
    line-height: 75px;
}

    /* to revers order of the nav  bar */
nav {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #ff7b00;
    text-shadow: 0 0 15px #ff7b00;

}

.active {
    text-shadow: 0 0 15px #ff7b00;
    border-bottom: 2px solid #ff7b00;
}
    /* end of to revers order of the nav  bar */
/* edn of Navigation menu */

/* main-page-picture */

#main-page-picture-box {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-page-picture {
    background: url('../images/1.jpg') no-repeat center center;
    height: 700px;
    width: 100%;
    background-size: 100%;
    background-color: #252525;


    /* animation zoom for when page is loading*/

    animation-name: section1-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
    /* end of animation zoom for when page is loading*/
/*end of  main-page-picture */

/* level of zoom */

@keyframes section1-zoom {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.1);
    }
}
/* end of level of zoom */

/* section2 h1 and p */
#main-page-text {
    height: 25rem;
    width: 100%;
    text-align: center;
    position: relative;

}

#welcome {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 350%;
}

p {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 150%;
}

h2 {

    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 200%;

}
/*end of section2 h1 and p */

/* footer */

footer {
    bottom: 0;
    width: 100%;
    height: 150px;

}

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 250%;
    margin: 1%;
    padding: 1%;
    color: #ff7b00;
    border-radius: 50%;
}

i:hover {
    background-color: #ff7b00;
    color: #252525;
    box-shadow: 0 0 15px #ff7b00;

}
/* end of footer */


/*gallery*/

#list-of-projects {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    font-size: 350%;
    height: 200px;

}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .image-gallery > li {
    height: 400px;
    position: relative; 
    flex:auto;
    list-style-type: none;
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
      
  }
  .image-gallery li iframe {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
      
  }


#pictures hr {
    border: 5px solid #ff7b00;
    border-radius: 5px;
    width: 95%;
    margin: 30px auto;
}


#list-of-projects-li li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 30px;
}

#pictures h2 {
margin:20px auto;
}

#list-of-projects-li a {
    text-decoration: none;
    color: inherit;
}

#list-of-projects-li a:hover {
    border-bottom: 1px solid #ff7b00;
    text-shadow: 0 0 15px #ff7b00;
}



/* gallery end */

/* go to top button */

#button-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff7b00;
    color: #252525;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#button-top:hover {
    background-color: #252525;
    color: #ff7b00;
    text-shadow: 0 0 15px #ff7b00;
}
/* end of go to top button */

/* Form */ 

.signup-form-section {
    clear: left;
    background:  url('../images/12.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin: 150px 10% 0 0;
    color: #ff7b00;
    background-color: rgba(37,	37,	37, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 35px;
}
.signup-form h2 {
    color: #ff7b00;
    background-color: transparent;
    margin-bottom: 30px;
}

.label{
    background-color: transparent;
}

.input-text {
    background: transparent;
    color: #ff7b00;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ff7b00;
    border-radius: 2px;
}
.input-text:hover {
    border-color: #ff7b00;
    box-shadow: 0 0 15px #ff7b00;
}
.signup-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#ff7b00;
    color: #252525;
    display: block;
}
.signup-button:hover {
    background-color: #252525;
    color: #ff7b00;
    box-shadow: 0 0 15px #ff7b00;
}
/* end form */

/* confirmation */

#confi {
    background-color: transparent;
}
#gohome{
    margin:20px auto;
}
/* end of confirmation */

/* For larger to medium screens size from 1300px wide and down */

@media only screen and (max-width: 1300px) {
    #main-page-text {
        height: 38rem;
        width: 80%;
        margin: 0 auto;
    }

    #main-page-picture-box {
        height: 600px;
        padding: 0;
    }

    #main-page-picture {
        background-size: 1100px 600px;

    }
}

/* For larger to medium screens size from 950px wide and down */

@media only screen and (max-width: 950px) {
    #title-logo {
        margin-left: 30px;
    }

    nav {
        float: left;
    }

    #menu li {
        margin-left: 30px;
        margin-bottom: 10px;
        line-height: 25px;
    }

    #main-page-picture-box {
        height: 550px;
        margin: 0;
        padding: 0;
        
       
    }

    #main-page-picture {
        background-size: 850px 550px;
    }

    #list-of-projects {
        height: 100px;
    }
}

/* For larger to medium screens size from 760px wide and down */

@media only screen and (max-width: 760px) {
.image-gallery > li {
    height: 250px;
}

}

/* For larger to medium screens size from 600px wide and down */

@media only screen and (max-width: 600px) {
    
    #menu li {
        margin-right: 25px;

    }

    #main-page-text {
        height: 45rem;
    }

    #main-page-picture-box {
        height: 520px;
    }

    #main-page-picture {
        background-size: 600px 520px;
    }

    #list-of-projects{
        font-size: 300%;
    }

     #title-logo, #welcome, #list-of-projects{
        font-size: 300%;
    }

    #list-of-projects-li li {
        column-count: 3;
        margin:auto;
        padding:0;
        width: 33%;
        text-align: left;
        text-align: justify;
    }
 
    .image-gallery > li {
        height: 200px;
    }
  
}


/* For larger to medium screens size from 480px wide and down */

@media only screen and (max-width: 480px) {

    nav {
        clear:both;
    }

    #menu li {
        margin-left: 30px;
        margin-bottom: 10px;
        clear:both;
    }

    #title-logo, #welcome, #list-of-projects{
        font-size: 280%;
    }

    #main-page-text {
        height: 50rem;
    }

    #main-page-picture-box {
        height: 520px;
    }

    #main-page-picture {
        background-size: 450px 510px;
    }

    #list-of-projects{
        margin-top: 200px;
        
    }
   
}

/* For larger to medium screens size from 440px wide and down */

@media only screen and (max-width: 440px) {
    #list-of-projects{
         margin-bottom: 30px;
         
    }

    .signup-form {
        left: 5%;
        margin: 150px 5% 0 0;
}
    
}

/* For larger to medium screens size from 380px wide and down */

@media only screen and (max-width: 380px) {
    #list-of-projects{
         margin-top: 260px;
    }
 .signup-form {
        left: 2%;
        margin: 150px 2% 0 0;
        padding:20px;
}
.image-gallery > li {
    height: 100px;
}

}
/* For larger to medium screens size from 360px wide and down */

@media only screen and (max-width: 360px) {
    #main-page-text {
        height: 60rem;
    }
    #welcome{
        font-size: 270%;
    }
    #main-page-picture-box {
        height: 500px;
    }

    #main-page-picture {
        background-size: 360px 500px;
    }
    .signup-form {
        left: 1%;
        margin: 150px 1% 0 0;
        padding:10px;
}

/* For larger to medium screens size from 280px wide and down */

@media only screen and (max-width: 280px) {
    #main-page-text {
        height: 80rem;
    }

    #title-logo, #welcome, #list-of-projects {
        font-size: 240%;
    }
}