@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #252525;
}

Body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #ff7b00;
}

/* header and main picture */

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ff7b00;
}

#title-logo{
    float: left;
    font-size: 300%;
    
}

header a {
    text-decoration: none;
}